extends ../layout

block content
	h1 Bienvenid@ a tu perfil #(user.name)
    .info_perfil

        h2 Informaci칩n de tu perfil
        .datos_perfil
        label(for="name") Nombre de usuario:
        p=user.name
        .datos_perfil
        label(for="email") Email:
        p=user.email
        .datos_perfil
        label(for="password") Contrase침a:
        p=user.password

    .info_michis

        h2 Informaci칩n de tus michis

        if cats.length 
        each cat in cats 
            .datos_gato
            label(for="cat_name") Nombre de tus michis:
            p=cat.name
            
            .dato_gato
            label(for="cat_description") Descripci칩n de tus michis:
            //- p=cat.description NO HAY COLUMNA description en la tabla gatos
            .dato_gato
            label(for="cat_image") Foto url:
            img(src=cat.image, width="150")
        else 
          p No tienes gatos
        

    .btn_editar 
        a(href=``) 
        button Editar