extends ../layout

block content
    section(class="cat")
        h1 Perfil de #{cat.name}
        img(src=cat.image, alt=`Imagen de ${cat.name}`, class="cat__image")
        
        h2 Descripci칩n: 
        section(class="cat__description")
            if cat.age
                p Edad: #{cat.age}
            else
                p Sin datos sobre la edad del michi 游

            if cat.breed
                p Raza: #{cat.breed}
            else
                p Sin datos sobre la raza 游

            if cat.neuter
                p 쮼st치 castradx?: #{cat.neuter}
            else
                p Sin datos sobre la castraci칩n 游
            
            if cat.special_needs
                p 쯅ecesidades especiales?: #{cat.special_needs}
            else
                p Sin datos sobre necesidades especiales 游
            
            if cat.comments
                p #{cat.comments}
            else
                p Este michi a칰n no tiene descripci칩n 游

        a(href="/appointments", class="cat__back") Volver a las solicitudes