article(class="appointment-card")
	h2 ¡#{appointment.user.name} necesita ayuda con su michi!
	p(class="appointment-card__creation-date") Solicitud creada el #{appointment.creation_date}	
	a(href=`/appointments/${appointment.appointment_id}`, class="appointment-card__goto") Ir a la solicitud
	//-esta línea no la lee if appointment.cat_has_appointments.length > 0
	section(class="appointment-card__images")
		h3 Los michis que hay que cuidar:
			each cat in appointment.cat_has_appointments
				article(class="appointment-cat")
					a(href=`/cat/${cat.cat_id}`) #{cat.cat.name}
					img(class="appointment-card__image" src=cat.cat.image alt="imagen del gato")
	section(class="appointment-card__when")
		h3 ¿Cuándo?
		p Fecha de inicio: #{appointment.start_date}
		p Fecha de fin: #{appointment.end_date}
	section(class="appointment-card__description")
		h3 Descripción:
		p #{appointment.description}

	//- Editar y eliminar solo si eres el creador de la cita
	if user && appointment.user_id == user.id
		section(class="appointment__buttons")
			form(action=`/appointments/${appointment.appointment_id}/edit`, method="get")
				button(type="submit" class="appointment-editremove") Editar
			form(
				action=`/appointments/${appointment.appointment_id}/delete`, 
				method="post", 
				onsubmit="return confirm('¿Estás seguro de que quieres eliminar esta solicitud?')"
				)
				button(type="submit" class="appointment-editremove") Eliminar


	//- Botón de aceptar solicitud solo si eres un caretaker
	if user && user.role === 'caretaker'
		form(
			action=`/appointments/${appointment.appointment_id}/edit`, 
			method="get", 
			onsubmit="return confirm('¿Confirmas que quieres aceptar/cancelar esta solicitud?')"
			)
			
			if appointment.accepted === true
				button(type="submit" class="appointment-card__accept") Cancelar solicitud
			else
				button(type="submit" class="appointment-card__accept") Aceptar solicitud