extends ../layout 

block content
	section(class="create__app")
		h1 Edita tu solicitud 
		if (user && user.role === 'caretaker')
			form(action=`/appointments/${appointment.appointment_id}`, method="post")
				label(for="accepted") Aceptar cita
				select(name="accepted", id="accepted")
					option(value="1", selected=appointment.accepted === true) Aceptada
					option(value="0", selected=appointment.accepted === false) Rechazada
				button(type="submit") Actualizar estado
		else 
			form(action=`/appointments/${appointment.appointment_id}`, method="post", class="create__form")
				label(for="startDate") Fecha de inicio
				input(type="date", name="start_date", id="startDate", value=appointment.start_date)

				label(for="endDate") Fecha de fin 
				input(type="date", name="end_date", id="endDate", value=appointment.end_date)

				label(for="description") Descripción 
				textarea(name="description", id="description")= appointment.description

				button(type="submit") Editar
